https://stepik.org/lesson/1075715?unit=1085823

In [1]:
import sqlalchemy as db

In [2]:
db_name = 'db_files/task_4-5_(join).sqlite'

In [3]:
engine = db.create_engine(f'sqlite:///{db_name}')

In [4]:
conn = engine.connect()

В базе есть таблица employee, которая содержит данные о сотрудниках, а так же tasks с данными о задачах.
Структура таблиц следующая:

employee

id - идентификатор сотрудника
name - имя сотрудника
lastname - фамилия сотрудника
salary - зарплата сотрудника
manager_id - идентификатор менеджера сотрудника

tasks

id - идентификатор задачи
title - наименование задачи
employee_id - идентификатор сотрудника, который назначен исполнителем
done_flg - флаг выполнения задачи (1 - задача выполнена, 0 - задача не выполнена)

Сформируйте выборку, которая содержит в себе имя и фамилию сотрудника, а так же наименование задачи.

In [5]:
keys_employee = 'id', 'name', 'lastname', 'salary', 'manager_id'
data_employee = """| 1  | Thomas    | Nelson     | 150000 | NULL       |
| 2  | Willie    | Mitchell   | 90000  | 1          |
| 3  | David     | Garrett    | 170000 | 2          |
| 4  | Gary      | Richardson | 140000 | 1          |
| 5  | Donald    | Stewart    | 100000 | 3          |
| 6  | Frederick | White      | 70000  | 2          |
| 7  | Willie    | Gonzales   | 12000  | 1          |
| 8  | Angel     | Carter     | 990000 | 3          |"""

In [6]:
keys_tasks = 'id', 'title', 'employee_id', 'done_flg'
data_tasks = """| 1  | Thomas    | Nelson     | 150000 | NULL       |
| 2  | Willie    | Mitchell   | 90000  | 1          |
| 3  | David     | Garrett    | 170000 | 2          |
| 4  | Gary      | Richardson | 140000 | 1          |
| 5  | Donald    | Stewart    | 100000 | 3          |
| 6  | Frederick | White      | 70000  | 2          |
| 7  | Willie    | Gonzales   | 12000  | 1          |
| 8  | Angel     | Carter     | 990000 | 3          |"""

In [7]:
query_create_table_employee = """CREATE TABLE employee (
id INTEGER PRIMARY KEY,
lastname  VARCHAR(128),
manager_id INTEGER,
name VARCHAR(128),
salary INTEGER CHECK('salary >= 0') DEFAULT 0
)"""

In [ ]:
query_create_table_tasks_table = """CREATE TABLE tasks (
done_flg INTEGER,
employee_id INTEGER,
id INTEGER,
title VARCHAR(128)

)"""